html {
  height: 100%;
}
body {
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100%; 
  /* background-color: rgb(245, 222, 151); */
  background-image: url("hacks22_banner.png");
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 3vw;
  font-family:'Rockwell';
  color: white;
}
.title{

}
.event{
  
}

.bar{

}

/* just says "current time */
#current_time_div{
  margin:5vh;
}

/* actually has time */
#current_time{

}
#cur_event_time {
  top:15vw;
}

#cur_event_bar{
  top:15vw;
  background-color: #c2dee2;
  width: .5vw;
  height: 8vw;
}

#cur_title{
   top:15vw;
   color: #c2dee2;
}
#cur_event{
   top:20vw;
}
#cur_event_location{
  top:20vw;
}


#next_event_time{
  top:30vw;
}

#next_event_bar{
  top:30vw;
  background-color: #dcf456;
  width: .5vw;
  height: 8vw;
}

#next_title{
   top:30vw;
   color: #dcf456;
}
#next_event{
   top:35vw;
}
#next_event_location{
  top:35vw;
}

.title{
  position:absolute;
  left: 40vw;
}
.description {
  position:absolute;
  left: 40vw;
}
.time{
  position:absolute;
  left: 20vw;
}
.bar{
  position:absolute;
  left: 33vw;
}
.location{
  position:absolute;
  left: 3vw;
}

#dashboard_hacks_22{
  display:block;
  max-width:200px;
  min-width:100px;
  position:fixed;
  right:10px;
  top:10px;
  width:10%;
  z-index:10000;
}

